body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 12px;
}

.img {
    width: 900px;
    height: 200px;
}

.section-one {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

a:link {
    text-decoration: none;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
}

.hero {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.container-one {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 100px 200px;
    gap: 50px;
}

.container-two {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

}

.button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 4px;
    padding: 4px 16px;
    border: none;
    height: 30px;
    width: 100px;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 300px;
}

.info-header {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    padding: 32px 0px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 300px;
    gap: 75px;
}

.info-graphics {
    display: flex;
    flex-direction: column;
}

.img-two,
.text {
    width: 150px;
    height: 150px;
}

.section-three {
background-color: #E5E7EB;
color: #1F2937;
padding: 100px 300px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
}

.quoted {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.section-four {
    padding: 100px 200px;
}

.blue {
    background-color:#3882F6;
    color: #F9FAF8;
    padding: 50px 100px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.action-text {
    font-size: 24px;
    font-weight: bold;
}

.button-two {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 4px;
    padding: 4px 16px;
    border: 2px solid #F9FAF8;
    height: 30px;
    width: 100px;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    padding: 50px 0px;
}