body {
    font-family: Roboto, sans-serif;
}

img {
    width: 300px;
    height: auto;
}

.section-one {
    background-color: #1F2937;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    display:flex;
}

ul {
    display: flex;
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.container-one {
    display: flex;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
}